{% extends "my_xadmin_base.html" %}

{% load staticfiles %}

{% block title %}自定义页面 | 股民之家后台管理系统{% endblock %}

{% block menu %}

    <div class="list-group">
        <a href="{% url 'addxadmin' %}"
           {% if request.path == '/xadmin/myxadmin/' or request.path == '/definedsearchpage/' %}class="list-group-item active"
           {% else %}class="list-group-item"{% endif %}>
            表格数据<span class="badge">1</span>
        </a>

        <a href="{% url 'addxadmin' %}" {% if request.path == '/xadmin/myxadmin/1/' %}class="list-group-item active"
           {% else %}class="list-group-item"{% endif %}>
            图表展示<span class="badge">3</span>
        </a>

        <a href="{% url 'addxadmin' %}" {% if request.path == '/xadmin/myxadmin/2/' %}class="list-group-item active"
           {% else %}class="list-group-item"{% endif %}>
            自定义功能<span class="badge">2</span>
        </a>
    </div>

{% endblock menu %}

{% block content_title %}
    <h4 class="navbar-text navbar-right"><a href="/xadmin/" class="navbar-link"><font color="#6495ed">首页</font> / </a>自定义页面
    </h4>
{% endblock %}


{% block user_plug %}

    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'addxadmin' %}">
                <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>&nbsp;主页
            </a>
        </div>

        <div class="btn-group" role="group" style="position: absolute; top: 10px">
            <select id="select" name="select_value" class="btn btn-default dropdown-toggle" style="height: 34px">
                <option value="0">---查询方式---</option>
                <option value="1">按学号查询</option>
                <option value="2">按日期查询</option>
            </select>
        </div>

        <div class="navbar-header">
            <div class="col-lg-2" style="position: absolute; top: 10px; left: 22%" id="StuNum">
                <input type="text" class="form-control" placeholder="输入学号" name="XadminSearchStuNum">
                <input type="button" class="btn btn-default" id="search_btn" value="搜索"
                       style="position: absolute; left: 95%; top: 1%" onclick="InitTable()">
            </div>
        </div>

        <div class="navbar-header">
            <div class="col-lg-2" style="position: absolute; top: 11px; left: 22%" id="Data">

                <div class="form-group form-inline">

                    <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd"
                         data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        <input id="startdate" class="form-control" name="StartTime" type="text" value=""
                               placeholder="开始日期" readonly>
                    </div>

                    <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd"
                         data-link-field="dtp_input2" data-link-format="yyyy-mm-dd"
                         style="position: absolute; left: 98%; top: 0; height: 35px; width: 83%">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        <input id="enddate" class="form-control" name="EndTime" type="text" value="" placeholder="结束日期"
                               readonly>
                    </div>

                    <input type="button" value="查询" id="search" class="btn-info"
                           style="position: absolute; left: 186%; top: 2%; height: 30px" onclick="InitTable()"/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block content %}

    <table id="table"></table>

{% endblock %}

{% block site_footer %}
    股民之家版权所有
{% endblock %}
